<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBlUwyFY43w1duqhLQJEkn1SG8jF1I8-WQ</string>
	<key>GCM_SENDER_ID</key>
	<string>47065579460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kiotech.YouRead-iOS</string>
	<key>PROJECT_ID</key>
	<string>kbooks-d91c6</string>
	<key>STORAGE_BUCKET</key>
	<string>kbooks-d91c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47065579460:ios:ec0121fe92b63088016e91</string>
</dict>
</plist>